@import url('../variable.css');

.container {
  width: 100%;
  min-height: 200px;
  border-bottom: 1px solid var(--border-color);
  margin-top: 24px;
}

.header-container {
  display: flex;
  align-items: center;
}

.title {
  flex-grow: 1;
  font-size: 24px;
  color: var(--star-color);
}

.star-container {
  background-color: #fff;
  padding: 5px;
  border-radius: 10px;
  color: var(--deep-gray-color);
  display: flex;

  & > p {
    margin-left: 5px;
  }
}

.text-container {
  margin-top: 20px;
}