@font-face {
  font-family: 'ONE-Mobile-POP';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'yg-jalnan';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('./variable.css');

div, main, header, footer, nav {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--coffee-color);
}

code {
  font-family: 'yg-jalnan' source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main-page, #login-page, #review-page, input {
  background-color: var(--cream-color);
  color: var(--coffee-color);
  font-family: 'ONE-Mobile-POP', 'Courier New', Courier, monospace;
}

input, input[type=password], textarea {
  font-family: 'yg-jalnan', 'Courier New', Courier, monospace;
}

.btn {
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
  border: none;
  color: var(--dark-gray-color);
  font-family: 'ONE-Mobile-POP', 'Courier New', Courier, monospace;
}

.btn:hover {
  color: #fff;
  background-color: var(--dark-gray-color);
}

/* Side Navbar Style */
.side-nav {
  position: absolute;
  height: 100vh;
  width: 80px;
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  background-color: var(--cream-color);
  color: var(--coffee-color);
  z-index: 2;
}

.brand-icon-container {
  border-bottom: 1px solid var(--border-color);
  text-align: center;
  font-size: 28px;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
}

.nav-menu-icon-container {
  flex-grow: 1;
}

.nav-menu-icon {
  height: 80px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  background-color: inherit;
}

.nav-menu-active-icon {
  background-color: var(--coffee-color);
  color: var(--cream-color);
}

.nav-footer {
  border-top: 1px solid var(--border-color);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.user-info-container {
  background-color: var(--cream-color);
  position: absolute;
  left: 100px;
  top: -80px;
  width: 350px;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.1) 5px 0px 15px 0px;
  padding: 20px;
  box-sizing: border-box;
}

.user-info {
  background-color: inherit;
  width: 100%;
  height: 70%;
}

.logout-btn {
  font-size: 16px;
  margin-top: 10px;
}

/* Main Panel Style */
.main-panel {
  box-shadow: rgba(0, 0, 0, 0.1) 5px 0px 15px 0px;
  position: absolute;
  left: 80px;
  top: 0px;
  height: 100vh;
  width: 400px;
  padding: 30px;
  transition: all 0.5s;
  background-color: inherit;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-panel-close {
  transform: translateX(-400px);
}

.main-panel-close-button {
  position: absolute;
  height: 50px;
  width: 20px;
  text-align: center;
  padding: 0;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid var(--border-color);
  border-left: none;
  background-color: inherit;
  top: calc(50% - 25px);
  right: -20px;
  color: var(--coffee-color);
}

.x-button {
  text-align: right;
}

.main-panel-content {
  height: 100%;
  width: 100%;
}

.panel-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cafe-card-list-container {
  flex-grow: 1;
  overflow-y: hidden;
  height: 100%;
}

/* Map Style */
#map {
  height: 100vh;
  width: calc(100vw - 80px);
  position: absolute;
  top: 0px;
  left: 80px;
  z-index: 0;
}

.title {
  font-size: 28px;
  color: var(--coffee-color);
}

/* Search Input Style */
.search-input-container {
  border: 3px solid var(--coffee-color);
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
}

#search-input {
  width: 100%;
  font-size: 24px;
  border: none;
  outline: none;
  background-color: inherit;
}

.search-icon, .x-button {
  font-size: 24px;
  width: 15%;
}

/* Cafe Card  Style*/
.cafe-card-container {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

.cafe-card-container::-webkit-scrollbar {
  display: none;
}

.cafe-card {
  height: 200px;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  padding: 24px 0;
  position: relative;
}

.cafe-card-title-container {
  display: flex;
  justify-content: space-between;
}

.cafe-card-title, .cafe-card-title:visited {
  font-size: 24px;
  text-decoration-line: none;
  color: #ffce54;
}

.cafe-card-address {
  color: var(--gray-color);
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.cafe-card-rating-container {
  height: 30px;
  display: flex;
  align-items: center;
  margin-top: 65px;
}

.star-score-container {
  width: 135px;
  position: relative;
  margin-right: 1em;
}

.star-score {
  height: 100%;
  width: 100%;
  color: var(--gray-color);
}

.rating-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.rating-btn {
  font-size: 16px;
}

.hide-rating-button {
  visibility: hidden;
}

.active-star {
  color: var(--coffee-color);
}

/* Location Info Style */
.location-info {
  height: 100px;
  width: 300px;
  padding: 10px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}

.location-info-title, .location-info-address {
  width: 100%;
  margin: 0;
}

.location-info-title {
  font-size: 22px;
  margin-bottom: 10px;
}

.location-info-address {
  font-size: 14px;
  color: var(--gray-color);
}

.favorite-button {
  color: var(--gray-color);
  font-size: 20px;
}

.active-favorite-button {
  color: var(--star-color);
}

/* Login Page */
#login-page {
  background-color: var(--cream-color);
  height: 100vh;
  display: flex;
}

.login-form-container {
  background-color: #fff;
  width: 450px;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid var(--border-color);
  width: 90%;
  height: 75%;
}

.login-title {
  margin-top: 80px;
  margin-bottom: 40px;
}

.id-input-container {
  width: 100%;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.duplicate-check-btn {
  background-color: var(--light-gray-color);
}

.duplicate-check-button-container {
  position: absolute;
  right: 20px;
}

.login-form-input, .login-form-input:focus-visible {
  background-color: inherit;
  border: none;
  border-bottom: 1px solid black;
  padding: 0.6em;
  font-size: 20px;
  outline: none;
}

.login-button {
  background-color: var(--coffee-color);
  width: 80%;
  border: none;
  border-radius: 5px;
  height: 45px;
  color: var(--cream-color);
  font-family: 'ONE-Mobile-POP';
  margin: 20px 0 10px 0;
}

.kakao-login-button {
  background-image: url("../public/kakao_login_medium_wide.png");
  width: 300px;
  height: 45px;
  margin-top: 100px;
}