:root {
  --border-color: rgba(0, 0, 0, 0.15);
  --coffee-color: #6f4e37;
  --cream-color: #FAF0D6;
  --gray-color: rgb(185, 185, 185);
  --dark-gray-color: rgb(101, 101, 101);
  --light-gray-color: rgb(230, 230, 230);
  --star-color: #ffce54;
}